[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200
via_ir = false

[rpc_endpoints]
anvil = "http://localhost:8545"

# [etherscan]
# etherscan_api_key = ""

